body {
	background-image: url("img/phone.jpg");
	margin: 0;
}
header {
	background-color: #FFE1F6;
}
footer {
	padding-top: 15px;
	background-color: #352733;
	color: #FFF;
	position: fixed;
    bottom: 0;
	width: 100%;
	text-align: center;
}
div {
	background-color: #fff;
	width: 60%;
	height: 80%;
	margin-left: 20%;
	
}
table {
	margin: auto;
}
td {
	width: 100px;
	text-align: center;
}
a {
	text-decoration: none;
	color: #000;
}
a:hover {
	color: #FF709C;
}
footer a {
	color: #fff;
}
.menu {
	width: 205px;
	color: #000;
}
.content {
	margin-top: 10%;
	text-align: center;
	border: 2px double black;
	border-radius: 5px;
}
li {
	list-style-type: none;
}
#title {
	margin-left: 35px;
}
