body {
	background-image: url("img/phone.jpg");
	margin: 0;
}
ul {
	padding: 0;
}
header {
	background-color: #FFE1F6;
}
div {
	background-color: #fff;
	width: 60%;
	height: 80%;
	margin-left: 20%;
	
}
table {
	margin: auto;
}
td {
	width: 100px;
	text-align: center;
}
a {
	text-decoration: none;
	color: #000;
}
a:hover {
	color: #FF709C;
}
.menu {
	width: 205px;
	color: #000;
}
.content {
	margin-top: 30%;
	text-align: center;
	border: 2px double black;
	border-radius: 5px;
}
li {
	list-style-type: none;
}
#title {
	margin-left: 35px;
}
#placat {
	height: 400px;
	margin-top: 5px;
}
#lb {
	margin-top: 10px;
}
.hello {
	border: 2px solid #FFE1F6;
	border-radius: 5px;
	text-align: center;
	margin-top: 10%;
}