#wrapper {
	width: 600px; 
	margin: 0 auto;
}
a {
	text-decoration: none;
	color: black;
	font-size: 40pt;
}
 .qwerty {
	text-align: center;
}
#fio0, #fio1, #fio2, #fio3, #fio4, #average0, #average1, #average2, #average3, #average4{
	font-size: 20pt;
}
a:hover {
	text-decoration: underline;
}
img {
	width: 60%;
}
